/*TODO: Make color palette */

:root {
  --color-primary: #db924b;
  --color-secondary: #263e3f;
  --color-accent: #10576d;
  --color-neutral: #120c12;
  --color-base-100: #20161f;
  --color-base-content: #c59f60;
  --color-base-info: #8dcac1;
  --color-base-success: #9db787;
  --color-base-warning: #ffd25f;
  --color-base-error: #fc9581;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Noto Serif", serif;
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  background-color: var(--color-neutral);
  color: var(--color-base-content);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.welcome-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.welcome-container .text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--color-base-warning);
}

.hero-image {
  background-size: cover;
  background-repeat: no-repeat;
  height: 700px;
  width: 66%;
  position: relative;
  border-radius: 20px;
  margin: 2rem;
}

@media (max-width: 768px) {
  .hero {
    height: 500px;
  }
}

@media (max-width: 576px) {
  .hero {
    height: 300px;
  }
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

header p {
  font-size: 1.8rem;
  color: var(--color-base-content);
  margin: 0;
  font-style: italic;
}

.navbar {
  justify-content: center;
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
}

.navbar a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.82);
  font-weight: 600;
  padding: 5rem;
  text-align: center;
}

.card {
  background-color: var(--color-base-100);
  border-radius: 5pt;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 2rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card-hover:hover {
  transition: transform 0.3s;
}

.card-hover:hover {
  transform: scale(1.01);
  transition: transform 0.3s;
}

.card img {
  background-color: black;
  width: 100%;
  aspect-ratio: 21/9;
  object-fit: cover;
}

.card .content {
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.card .content footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card .content a {
  color: var(--color-base-info);
}

.frontpage-content {
  width: 100%;
  gap: 1rem;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

@media (min-width: 768px) {
  .frontpage-content {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.footer .socials {
  display: flex;
  gap: 1rem;
}

.footer .socials svg {
  width: 30px;
}

.article {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  flex-direction: row-reverse;
  gap: 2rem;
}

.article img {
  border-radius: 5pt;
  aspect-ratio: 1/1;
  object-fit: cover;
  width: 32%;
}

.article .text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #c9c8c9;
  width: 30%;
}

.articles {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
}

.articles hr {
  width: 80%;
  border: 1.5px solid var(--color-base-100);
}

.btn {
  font-size: 1rem /* 16px */;
  line-height: 1.5rem /* 24px */;
  padding-left: 1.25rem /* 20px */;
  padding-right: 1.25rem /* 20px */;
  padding-top: 9px;
  padding-bottom: 9px;
  white-space: nowrap;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  border-radius: 4px;
  background-color: var(--color-primary);
  color: var(--color-base-100);
  border: 1px solid var(--color-primary);
  cursor: pointer;
}
